@{
    ViewData["Title"] = "Home Page";

}

<<<<<<< HEAD
<form>
    <label> e-mail </label> 
    <input type="text" /> <br/>
    <label> id </label>
    <input type="text" /> <br/>

</form>
=======

<form asp-controller="..." asp-action="Register" method="post">
    Email: <input type="email" name="email"><br>
    ID: <input type="text" name="ID"><br>
    <input type="submit" value="Submit">
</form>
>>>>>>> 9c65dcfefa5d5c241c6440ec3597d9b309936d1b
