@{
    ViewData["Title"] = "Home Page";

}


<form asp-controller="..." asp-action="Register" method="post">
    Email: <input type="email" name="email"><br>
    ID: <input type="text" name="ID"><br>
    <input type="submit" value="Submit">
</form>