@using Microsoft.EntityFrameworkCore
@using ratry.Models
@using System.Security.Claims

@model IndexViewModel




<h2>@ViewData["Title"].</h2>


<div>
    <hr />
    <dl class="dl-horizontal">


        <dt>AUBG ID:</dt>
        <dd>
            @User.FindFirst(ClaimTypes.GivenName).Value
        </dd>
    </dl>
</div>
