    
body
{
    font-family: arial;
    filter :  blur(0px);
}

h1#doc-title {
 text-align: center;
}

table
{
     margin: 3% auto;
}

th, td
{
    margin: 0;
    text-align: center;
    border-collapse: collapse;
    outline: 1px solid #e3e3e3;
}

td
{
    padding: 0.5em 1em;
}

th
{
    width: 12.5%;
    background: yellowgreen;
    color: white;
    padding: 0.5em 1em;
}

td:hover
{
    cursor: pointer;
    background: yellowgreen;
    color: white;
}

#overlay {
    position: fixed;
    top: 25%;
    bottom: 25%;
    left: 25%;
    right: 25%;
    width: 50%;
    height: 50%;
    background-color: yellowgreen;
    filter:alpha(opacity=50);
    z-index: 10000;
    display: none;
}

.disableHover:hover {
     border: 0;
}

#takehour 
{
    position:relative;
    width : 40%;
    left: 10%;
    right: 10%;
}

#makefree
{
   position:relative;
   width : 40%;
}